# shared: postgres, vectorizer-worker
OPENAI_API_KEY=<FILL-THIS>

# postgres
POSTGRES_DB=kawanpaper
POSTGRES_USER=kawanpaper
POSTGRES_PASSWORD=hZGaANYJmx83DS8U

# vectorizer-worker
PGAI_VECTORIZER_WORKER_DB_URL=postgres://kawanpaper:hZGaANYJmx83DS8U@postgres:5432/kawanpaper

# ollama (ignore)
OLLAMA_KEEP_ALIVE=24h
OLLAMA_HOST=0.0.0.0

# minio
MINIO_ROOT_USER=kawanpaper
MINIO_ROOT_PASSWORD=g4VNNuXLyGF3U4QV
